.warranty {
  padding: 30px 15px;
  /* border: 2px solid blue; */
}

.warranty__wrapper {
  /* border: 2px solid red; */
  display: flex;
  gap: 30px;
  flex-direction: column;
}

/* .warranty__text-block {} */

.warranty__title {
  font-size: 26px;
  font-weight: 700;
}

.warranty__copy {
  margin-top: 20px;
}

.warranty__image-block {
  height: 72vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}

