/* footer */
.footer {
  padding: 30px 15px;
  color: #ffff;
  background: #484848;
  /* border: 2px solid red; */
}

.footer__wrapper {
  display: grid;
  gap: 30px;  
  /* border: 2px solid green; */
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /* border: 2px dashed yellow; */
}

/* .footer__info {
  border: 2px dashed orangered;
} */

.footer__logo {
  display: block;
  margin-bottom: 10px;
  width: 216px;
  height: 23px;
}

.footer__copy {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer__dev {
  display: block;
  width: 130px;
  height: 46px;
  margin: auto;
}
